[tool.poetry]
name = "bin"
version = "0.1.0"
description = ""
authors = ["Octopize <tech@octopize.io>"]
license = "Apache-2.0"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
typer = {version = "^0.7.0", extras = ["all"]}
pydantic = "^1.10.7"
toolz = "^0.12.0"


[tool.poetry.group.dev.dependencies]
mypy = "^1.2.0"
flake8 = "^6.0.0"
isort = "^5.12.0"
black = "^23.3.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[[tool.mypy.overrides]]
module = "toolz.*"
ignore_missing_imports = true
